@charset "utf-8";
/* CSS Document */
.wrapper { width:100%; }
.mAtuo{ margin:0 auto;}
.admin_search{ width:100%; padding:10px 0;}
.admin_search table{ width:100%;}
.admin_search table td{ white-space:nowrap; height:25px;}
.admin_search .admin-input{ width:150px; height:20px; border:solid 1px #D3D3D3;}
.admin_search .admin-select{ width:150px; border:solid 1px #D3D3D3; }
.w80{ width:100px;}
.w180{ width:180px;}
.textr{ text-align:right; font-weight:bolder;}
