@CHARSET "UTF-8";

a {
	color: #1F3B7B;
	text-decoration: none;
}

a:visited {
	color: #6079B2;
}

a:hover,a:active,a:focus {
	color: #8D0000;
	text-decoration: underline;
}

a.linkRed:link,a.linkRed01:link {
	color: #1F3B7B !important;
	font-size: 14px;
	line-height: 14px;
}

a.linkRed:visited,a.linkRed01:visited {
	color: #1F3B7B !important;
	font-size: 14px;
	line-height: 14px;
}

a.linkRed:hover,a.linkRed01:hover {
	color: #8D0000 !important;
}