@charset "utf-8";
/* CSS Document */
/* beace
---------------------------------------------------------------------*/

.m910 { margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 0; width: 910px; }
.fl { float: left; }
.fr { float: right; }
.clear { clear:both; }
.mAtuo { margin:0 auto; }
.border_solid { padding:10px; border:1px dotted #DCDCDC; margin:10px 0px; }
.h-box p a { color:#FFDC45; }
.mt6 { margin-top: 6px; }
.clears:after { clear: both; }
.clears:before, .clears:after { content: ""; display: table; }
.clears:before, .clears:after { content: ""; display: table; }
/* line_wrap
---------------------------------------------------------------------*/
.line_wrap { background-color: #ff9c00; height: 4px; }
/* yellowbg
---------------------------------------------------------------------*/
.yellowbg { background-color: #FEFCF3; border:1px solid #FFDC45; }
/* h_tab
---------------------------------------------------------------------*/
.h_tab { height: 34px; width: 100%; }
.h_tab ul li { float:left; }
.h_tab li { background-color: #FFFFFF; background-repeat: no-repeat; cursor: pointer; float: left; font-size: 12px; height: 34px; line-height: 34px; text-align: center; width: 138px; }
.h_tab li.on_zzjs { background-attachment: scroll; background-clip: border-box; background-color: #FFFFFF; background-image: url("../img/tab_2.gif"); background-origin: padding-box; background-position: 0 -39px; background-repeat: repeat; background-size: auto auto; color: #FFFFFF; font-weight: bold; }
/* h_ul
---------------------------------------------------------------------*/
.h_ul li { padding:0 13px 22px 0; }
.form-label { display:inline-block; text-align: right; padding-top:8px; padding-right:10px; width:90px; font:12px/1.5 arial; }
.hors_input_in { background-attachment: scroll; background-clip: border-box; background:url(../img/h-x.gif) 0 -64px repeat-x transparent; background-origin: padding-box; border:solid 1px #D3D3D3; height: 22px; line-height: 22px; margin-top: 3px; width: 120px; padding-left:3px; }
.hors_input_btn { background-attachment: scroll; background-clip: border-box; background:url(../img/h-btn.gif) -108px -149px no-repeat transparent; background-origin: padding-box; border:0 none; color: #FFFFFF; font-size: 14px; height: 33px; line-height: 33px; text-align: center; width: 108px; font-weight:bolder; }
.h_ul a { color: #2D6AAD; font-size: 12px; height: 33px; line-height: 33px; padding-left: 17px; }



/* search_box
---------------------------------------------------------------------*/
.select_box { position:relative; margin:0; padding:0; font-size:12px; }
.select_box input { cursor:pointer; line-height:28px; width:261px; height:28px; overflow:hidden; border:1px solid #ccc; background:url(../img/select_input_bg.gif) no-repeat 240px center; z-index:9999; }
.myselect { width:250px; position:absolute; left:103px; top:28px; display:none; border:1px solid #ccc; background:#fff; overflow: hidden; background:#ebebeb; z-index:99999; }
.myselect li { display:block; overflow:hidden; padding:5px; width:100%; cursor:pointer; margin:0; }
.hover { background:#ccc; }
/* doctor_search
---------------------------------------------------------------------*/
.h_tab li.on_guahao { background-attachment: scroll; background-clip: border-box; background-color: #FFFFFF; background-image: url("../img/tab_2.gif"); background-origin: padding-box; background-position: 0 -39px; background-repeat: repeat; background-size: auto auto; color: #FFFFFF; font-weight: bold; font-size:14px;}
.search_outbox { background: url("../img/loginbg_mid.gif") repeat-y scroll 0 0 transparent; width: 420px; margin-top:20px; }
.search_topbox { background: url("../img/loginbg_top.gif") no-repeat scroll center top transparent; height: 5px; width: 100%; }
.search_inbox { margin-top:20px; }
.search_bottombox { background: url("../img/loginbg_bottom.gif") no-repeat scroll center bottom transparent; height: 10px; width: 100%; }
.doctor_search .hors_input_btn { background:url(../img/h-btn.gif) -108px -149px no-repeat transparent; }
.doctor_search select option { line-height:30px; height:30px; }
/* search_result
---------------------------------------------------------------------*/
.search_result .box1 { background: none repeat scroll 0 0 #F9F9F9; border-color: #ff9c00 #DDDDDD #DDDDDD; border-style: solid; border-width: 3px 1px 1px; color: #666666; height: 100%; padding-top: 10px; }
.search_result .searchD { display: block; }
.search_result .searchD:after { clear: both; content: "."; display: block; visibility: hidden; }
.search_result .searchD li { float:left; padding-bottom:10px; padding-right:8px; }
.clfx:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.clfx { display: inline-block; }
* html .clfx { height: 1%; }
.clfx { display: block; }
.list_item2 { border-bottom: 1px solid #DDDDDD; padding: 20px 0; }
.list_item2 li.pic { float: left; padding: 0 14px; width: 84px; }
.list_item2 li.pic img { border: 1px solid #DDDDDD; height: 100px; padding: 1px; width: 80px; }
.list_item2 li.titl { background: url("../img/line.jpg") repeat-x scroll center bottom transparent; cursor: pointer; float: left; padding-bottom: 7px; width: 790px; }
.list_item2 li.titl span { float: left; font-size: 14px; margin-right: 10px; }
.list_item2 li.titl span.china { float: right; }
.list_item2 li.titl span.china a { background: none repeat scroll 0 0 #ff8e0f; border: 1px solid #ff9c00; float: right; width: 300px; color: #FFFFFF; display:block; height: 100%; margin-right: 15px; text-align: center; font-size:12px; }
.list_item2 li.ensure { float: right; width: 790px; }
.list_item2 li.ensure .txt li { float: left; width: 165px; }
.list_item2 li.ensure .txt li.infro { color: #666666; height: 40px; line-height: 20px; overflow: hidden; padding-top: 9px; width:600px; }
.list_item2 li.ensure .txt li.infro .moods { color: #333333; line-height: 22px; padding-top: 0; }
.list_item2 li.ensure .txt li.infro .moods li { width: 155px; }
.list_item2 li.ensure .txt li.pt0 { padding-top: 0; }
.list_item2 li.ensure .txt li.detile { color: #666666; line-height: 20px; overflow: hidden; padding-top: 9px; width:90%; }
.q_down2 a, .q_down2 a.current { background: url("../img/index.gif") repeat scroll -1px -72px #99FF00; display: block; font-size: 14px; height: 32px; line-height: 32px; margin: 5px 19px 0 24px; padding-left: 22px; width: 100px; }
.pages { color: #666666; margin-bottom: 10px; margin-top: 10px; text-align: center; }
.pages a { border: 1px solid #DDDDDD; color: #666666; display: inline-block; padding: 3px 7px; }
/* doctor
-------.--------------------------------------------------------------*/
.detail_hd { background:url(../img/line.jpg) repeat-x 50% bottom; height:52px; }
.detail_hd h3 { background: none repeat scroll 0 0 #FF0033; font: 24px/52px '微软雅黑'; padding-left: 26px; }
.detail_hd h3 em, .detail_hd h3 span { float: left; }
.detail_hd h3 em a { background: url("../img/jryy.png") no-repeat scroll center top transparent; color: #FFFFFF; display: inline-block; font: 12px/19px '宋体'; height: 19px; margin-left: 10px; margin-top: 17px; text-align: center; width: 67px; }
.detail_content1 { float: left; padding-top: 0; width: 582px; color:#666666; }
.games_detail { float: left; padding-left: 26px; padding-top: 40px; width: 296px; }
.games_detail li { height: 30px; line-height: 35px; width: 296px; }
.games_down { float: left; padding-top: 5px; width: 260px; }
.share { height: 20px; line-height: 20px; margin-bottom: 15px; padding-left: 90px; }
.button_down a { background: url("../img/button_down1.jpg") repeat scroll 0 0 transparent; color: #FFFFFF; display: block; height: 30px; padding: 45px 0 0 95px; width: 165px; }
.hz_adv2 { background: none repeat scroll 0 0 #ECFAFF; float: left; height: 100%; line-height: 20px; margin-top: 5px; padding-left: 26px; width: 555px; }
.adv1 { float: right; width: 200px; }
.destiny { border: 1px solid #DDDDDD; }
.d_tit { border-bottom: 1px solid #DDDDDD; height: 39px; line-height: 39px; }
.d_tit h3 { padding-left: 15px; }
.down_address { padding: 10px 27px 23px; color:#666; }
.down_txt1 { float: left; width: 830px; }
.down_txt1 li { height: 100%; overflow: hidden; }
.down_txt1 li.ddl { padding-top: 10px; }
.down_txt1 li.ddt { background: url("../img/sj.jpg") no-repeat scroll 15px 6px #FFFFFF; border: 1px solid #EEEEEE; line-height: 23px; margin-top: 13px; padding-left: 25px; }
.games_tab { border-bottom: 1px solid #DDDDDD; height: 40px; line-height: 40px; }
.games_tab li { border-right: 1px solid #DDDDDD; float: left; font-size: 14px; position: relative; text-align: center; width: 112px; }
.games_tab li.current { background: none repeat scroll 0 0 #FFFFFF; font-weight: bold; height: 40px; margin-top: 1px; }
.games_infor { padding:10px 27px 23px; }
.games_infor p { color:#666; line-height:22px; width:830px; overflow: hidden; }
/* user_info
-------.--------------------------------------------------------------*/
.user_info{ margin-top:20px;}
.menuWarp { width:149px; margin-right:5px;}
.content {width: 100%; }
.menu_149 { background:url(../img/menu_100_bg.gif)  repeat-x scroll 0 0 transparent;  font-weight: bold; font-size: 14px; height: 26px; line-height: 26px; padding-left: 12px; }
.menu_100 { background:url(../img/menu_310_bg.gif) repeat-x scroll 0 -1px transparent;font-weight: bold; font-size: 14px; height: 26px; line-height: 26px; padding-left: 12px; }
.applys_list { padding-bottom: 7px; padding-left: 3px; padding-right: 10px; padding-top: 10px; width: 136px; }
.serve_list { padding-bottom: 21px; padding-left: 5px; padding-right: 5px; padding-top: 14px; width: 139px; }
.applys_list li, .serve_list li { float: left; height: 30px; line-height: 30px; overflow-x: hidden; overflow-y: hidden; padding-left: 13px; width: 123px; }
.serve_list li { float: left; height: 28px; line-height: 28px; margin-top: 2px; padding-left: 8px; width: 131px; }
.siconbg li a { background-image:url(../img/w-icon.gif); background-position:0 7px; background-repeat:no-repeat; background-color:transparent; }
.serve_list li a, .applys_list li a { color: #666666; float: left; height: 30px; }
.serve_list li a { float: left; font-size: 14px; height: 28px; padding-left: 27px; }
.siconbg li.l1 a { background-position: 2px -38px; }
.siconbg li.l2 a { background-position: 0 -62px; }
.siconbg li.l3 a { background-position: 3px -87px; }
.siconbg li.l4 a { background-position: 3px -112px; }
.siconbg li.l5 a { background-position: 3px -165px; }
.graybg { border:1px solid #DEDEDE; }
.w_myserve, .tphover {  height: 33px; line-height: 33px; padding-left: 16px; }
.tphover {background:url(../img/b-linex.gif) repeat-x scroll 0 -476px transparent; display: inline-block; height: 33px; line-height: 33px; padding:0 17px;}
.w_newuser { padding:20px; }
.user_icon1, .user_icon2 { border-bottom:1px dashed #C1C1C1; overflow: hidden; padding:15px 0; }
.bld { border-right:1px dashed #C1C1C1; }
.nonebd { border:none 0; }
.user_icon1 ul, .user_icon2 ul { float: left; height: 105px; width: 217px; padding: 0 17px; }
.hotmenu { width:200px; }
.username ul,.hotmenu ul { padding: 0 13px; width: 200px; }
.hotmenu ul li { display: inline; float: left; height: 30px; margin: 13px 0 0 0; width: 89px; }
.hotmenu li a { display: block; height: 30px; width: 70px; line-height:30px; text-align:right;}
.siconbg li.h1 a { background-position: 3px -87px; }
.siconbg li.h2 a { background-position: 3px -112px; }
.siconbg li.h3 a { background-position: 3px -165px; }
.icon30{background:url(../img/b-icon.gif) no-repeat scroll 0 0 transparent; display:inline-block; width:47px; height:40px;}
.u1{ background-position:0 0;}
.u2{ background-position:0 -41px;}
.u3{ background-position:0 -82px;}
.u4{ background-position:0 -123px;}

.username { width:200px; overflow:hidden;margin-bottom:10px;}
.username li a{ padding-top:10px; padding-bottom:10px; display:inline-block; color: #06C;}

/* Backstage
---------------------------------------------------------------------*/
.Back{background:url(../img/houtaibg.jpg) repeat-x 0 0 scroll #0b89d4;}
.Backstage{margin:0 auto; width:778px; height:492px;background:url(../img/divbg.jpg) repeat-x center top scroll transparent; overflow:hidden; margin-top:80px;}
.loginbox{margin:0 auto; width:420px; padding-top:80px;}
.Backstage .hors_input_btn{ background-position:0 -149px;}



